* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    width: 1000px;
    margin: auto; /* Centers the form */
    box-shadow: 0 0 10px gray
}

label {
    display: inline-block;
    width: 100px;
    margin-bottom: 10px;
}

/* Don't put a space between input and the square bracket. Stops the code from working for some reason. */

input[type = "text"],
input[type = "email"],
input[type = "password"],
select {
    width: 150px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input:focus,
select:focus {
    border-color: blue;
    outline: none;
}

input[type = "radio"] {
    accent-color: green;
}

input[type = "radio"] {
    appearance: none;
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid green;
    border-radius: 2px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

input[type = "radio"]:checked {
    background-color: green;
}

input[type = "checkbox"] {
    accent-color: orange;
}

input[type = "submit"] {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

input[type = "submit"]:hover {
    background-color: darkblue;
}

@media (max-width : 700px,) {
    form {
        width: 90%;
        padding: 10px;
        background-color: #e0f7fa;
    }
    
    h2 {
        font-size: 18px;
    }
}
