body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aliceblue;
    color: #333;
    padding: 20px;
}

h1{
    color: #b750a9;
}

form{
    background-color: aliceblue;
    padding: 15px;
    border: 1px solid #ccc;
}

input{
    width: 300px;
    padding: 5px;
    margin: 10px;
}

button{
    padding: 10px 20px;
    background-color: #6d0760;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: #cb6fbf;
}

ol {
    margin-top: 20px;
}

li{
    background-color: #eff2a4;
    margin: 10px 0;
    padding: 10px;
    border-left: 5px solid #ccc;
}